
.custom-checkbox {
    display: none;
}

#loginForm{
    position:absolute;
    display:flex;
    flex-direction: column;
    top: 50%; /* Aligns the top of the inner div to the middle of the outer div */
  left: 50%; /* Aligns the left side of the inner div to the middle of the outer div */
  transform: translate(-50%, -50%); /* Centers the inner div */
}


.checkbox-label {
    filter: invert(1);
    vertical-align: middle;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url('eye.webp');
    background-size: cover;
}


.custom-checkbox:checked+.checkbox-label {
    filter: invert(1);
    background-image: url('eye-crossed.svg');
    
}



.circle {
    fill: #aa3bb8;
    stroke:  #4f0459; 
    stroke-width: 0.5; 
}


.circle:hover {
    fill: #4f0459; 
    stroke:  #aa3bb8; 
    stroke-width: 2;
}


.circle:hover + text {
    display:block;
    font-weight:  bold;
    font-family: 'Courier New', Courier, monospace; 
    fill: #ffffff; 
}

svg{
    background-color: rgb(49, 42, 47);
    background-size: cover;
}


.pointText {
    font-size: 6px; 
    display:none;
}
.section{
    border: 12px ridge rgb(255, 255, 255); /* Example outline */
    border-color: rgb(131, 131, 131);
}

.chart{
    border: solid;
    border-color: black;
    border-radius: 50px;
    background-color: rgb(34, 1, 27);
}
body{
    margin:0;
    COLOR:WHITE;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(36, 22, 32);
}
.text{
    font-weight: bolder;
    font-size: 20px;
}
#hidcontainer{
    display: none;
}
#container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 229px auto;
}
#info{
    display: grid;
    grid-template-columns: auto 10%;
    grid-template-rows: auto;
    grid-column: 1/4;
    height:100px;
}
#logout{
    grid-row:1;
    grid-column:2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    background-color: rgb(32, 2, 27);
}

#logout:hover{
    filter: invert(0.1);
    border-style: ridge;
}
#logout:active{
    filter: invert(0.5);
    border-style: inset;
}

#profileDiv{
    grid-column:1;
}
#xp{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row:2;
    grid-column: 1/2;
    width:auto;

}
#ratio{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row:2;
    grid-column: 2/3;
    width:auto;

}
#pie{
    display: flex;
    flex-direction: row;
    grid-row:2;
    justify-content: space-evenly;
    align-items: center;

    width:auto;

}
#line{
text-align: center;
 border-left: 0;
 border-right: 0;
    grid-row:3;
    grid-column: 1/4;
    height:130px;
}